<link rel="stylesheet" href="/css/booking_report.css">
<div class="row">
  <div class="col-md-3">
    <div class="form-group m-0">
      <label class="m-0">เริ่มต้น</label>
      <input type="date" value="<%= query.checkin %>" class="form-control" id="checkin">
    </div>

  </div>
  <div class="col-md-3">
    <div class="form-group m-0">
      <label class="m-0">ถึงวันที่</label>
      <input type="date" value="<%= query.checkout %>" class="form-control" id="checkout">
    </div>

  </div>
  <div class="col-md-6">
    <div class="form-group m-0">
      <label class="m-0">เลขที่จอง</label>
      <div class="input-group m-0">
        <div class="input-group-prepend">
          <button class="input-group-text btn bg-gradient-light" onclick="pasteData($('#findById'))">
            <i class="fa-solid fa-paste"></i>
          </button>
        </div>
        <input type="text" value="<%= query.id %>" class="form-control" id="findById" placeholder="ป้อนเลขที่จอง">
        <button id="findByIdBtn" class="btn rounded-0 bg-gradient-primary">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

    </div>

  </div>
  <div class="col-md-6">
    <div class="form-group m-0">
      <label class="m-0">ชื่อ-นามสกุล</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="input-group-text btn bg-gradient-light" onclick="pasteData($('#findByName'))">
            <i class="fa-solid fa-paste"></i>
          </button>
        </div>
        <input type="text" value="<%= query.name %>" class="form-control" id="findByName" placeholder="ป้อนชื่อ นามกุล">
        <button id="findByNameBtn" class="btn rounded-0 bg-gradient-primary">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex flex-wrap m-1">
      <div class="custom-control custom-radio m-1">
        <input class="custom-control-input" type="radio" name="rentaltype" value="monthly" id="monthly">
        <label for="monthly" class="custom-control-label">รายเดือน</label>
      </div>
      <div class="custom-control custom-radio m-1">
        <input class="custom-control-input" type="radio" name="rentaltype" value="daily" id="daily">
        <label for="daily" class="custom-control-label">รายวัน</label>
      </div>
      <div class="custom-control custom-radio m-1">
        <input class="custom-control-input" type="radio" name="rentaltype" value="daily-no-limit" id="daily-no-limit">
        <label for="daily-no-limit" class="custom-control-label">ไม่กำหนดวัน</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <div class="my-1">
      <button data-act="pdf" name="open-report-modal" class="btn rounded-0 bg-gradient-danger font-weight-bold">
        <span>PDF</span>
      </button>
      <button data-act="report" name="open-report-modal" class="btn rounded-0 bg-gradient-success m-1">
        <span class="font-weight-bold">แสดงผล</span>
      </button>
      <button class="btn rounded-0 bg-gradient-primary m-1" id="reportFindData">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span class="ml-1 font-weight-bold">ค้นข้อมูล</span>
      </button>
      <button class="btn rounded-0 bg-gradient-secondary m-1" id="resetReportValue">
        <i class="fa-solid fa-xmark"></i>
        <span class="ml-1 font-weight-bold">รีเซ็ตค่าฟอร์ม</span>
      </button>
      <button class="btn rounded-0 bg-gradient-secondary  m-1" id="resetReport">
        <i class="fa-solid fa-xmark"></i>
        <span class="ml-1 font-weight-bold">รีเซ็ตการค้นหา</span>
      </button>
    </div>
  </div>
</div>





<div class="row">
  <div id="entries-query" class="col-md-3"></div>
</div>

<div class="entries-d">
  <span class="entries-text">แสดง</span>
  <span class="entries-count"><%= entries.length  %></span>
  <span>รายการ</span>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" style="width: 5%;">รายการ</th>
        <th style="width: 20%;">รหัสการจอง / เลขที่จอง</th>
        <th style="width: 21%;">ชื่อ</th>
        <th style="width: 12%;">เช็คอิน</th>
        <th style="width: 12%;">เช็คเอ้าท์</th>
        <th class="text-right" style="width: 10%;">ยอดรวม</th>
        <th class="text-center" style="width: 8%;">
          ใบเสร็จ
        </th>
      </tr>
    </thead>
    <tbody>
      <%  if(entries.length == 0) { %>
      <tr>
        <td colspan="9" class="text-center">ไม่มีข้อมูล</td>
      </tr>
      <% } %>
      <% for(let i =0;i<entries.length;i++) { %>
      <tr>
        <td class="text-center">
          <%= (paginate.page*paginate.row)+i+1 %>
        </td>
        <td><%= entries[i].booking_id %></td>
        <td><%= entries[i].fname %> <%= entries[i].lname %> </td>
        <td><%= entries[i].checkin %></td>
        <td><%= entries[i].checkout %></td>
        <td class="text-right">
          <%= entries[i].total_display  %>
        </td>


        <td class="text-center">
          <button data-act="receipt" name="open-report-modal" class="btn btn-sm rounded-0 bg-gradient-secondary" data-id="<%= entries[i].booking_id  %>">
            <span class="font-weight-bold">พิมพ์</span>
          </button>
        </td>
      </tr>
      <% }%>
    </tbody>
  </table>
</div>




<%- include ('paginateQuery') %>
<%- include('report/report_modal')  %>
<%- include ('report/report_print_modal') %>
<%- include('report/set_report_modal')  %>




<script src="/js/paginate.js"></script>
<script src="/src/js/admin/report/report.js"></script>
<script src="/src/js/admin/report/reportFindData.js"></script>
<script src="/src/js/admin/report/reportSubmit.js"></script>