<link rel="stylesheet" href="/css/manage_slide.css">
<div class="text-right my-1 p-2">
  <button class="btn rounded-0 bg-gradient-success" data-bs-toggle="modal" data-bs-target="#manage-slide-modal">
    <i class="fa-solid fa-plus"></i>
    <span class="ml-1 font-weight-bold">เพิ่มสไลด์โมษณา</span>
  </button>
</div>
<div class="row">
  <div class="col-md-3" id="entries-query"></div>
</div>




<div class="entries-d">
  <span class="entries-text">แสดง</span>
  <span class="entries-count"><%= entries.length  %></span>
  <span>รายการ</span>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width:5% ;" class="text-center">ลำดับ</th>
        <th style="width:10% ;">รูปภาพ</th>
        <th style="width:20% ;">Title</th>
        <th style="width:6% ;"><i class="fa-solid fa-toggle-on"></i></th>
        <th style="width:39% ;">คำอธิบาย</th>
        <th style="width:6% ;"><i class="fa-solid fa-toggle-on"></i></th>
        <th style="width:7% ;" class="text-center"><i class="fa-solid fa-trash"></i></th>
        <th style="width:7% ;" class="text-center">แสดงผล</th>
      </tr>
    </thead>
    <tbody>
      <% if (entries.length==0) { %>
      <tr>
        <td class="text-center font-weight-bold" colspan="8">ไม่มีข้อมูล</td>
      </tr>
      <%  } %>
      <% let idx = 1 %>
      <% for(let i =0;i< entries.length;i++) { %>
      <tr>
        <td style="width: 5%;" class="text-center">
          <%= (paginate.page*paginate.row)+i+1 %>
        </td>
        <td>
          <img src="/src/img/slide/<%= entries[i].src %>" class="slide-img">
        </td>
        <td>
          <p class="m-0"><%= entries[i].title  %></p>
        </td>
        <td>
          <% const switchTitle = entries[i].title_status=='on' ? 'checked' :'' %>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input switch-title" id="t-<%= entries[i].slide_id  %>" value="<%= entries[i].slide_id  %>" <%- switchTitle  %>>
            <label class="custom-control-label" for="t-<%= entries[i].slide_id  %>"></label>
          </div>
        </td>
        <td>
          <p class="m-0"><%= entries[i].descript  %></p>
        </td>
        <td>
          <% const switchDesc = entries[i].descript_status=='on' ? 'checked' :'' %>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input switch-desc" id="desc-<%= entries[i].slide_id  %>" value="<%= entries[i].slide_id  %>" <%- switchDesc  %>>
            <label class="custom-control-label" for="desc-<%= entries[i].slide_id  %>"></label>
          </div>
        </td>
        <td class="text-center">
          <button class="btn-sm btn bg-gradient-secondary font-weight-bold" name="slide-delete" data-id="<%= entries[i].slide_id  %>" data-src="<%= entries[i].src %>">
            ลบ
          </button>
        </td>
        <td class="text-center">
          <% const status = entries[i].status=='on' ? 'checked' :'' %>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input switch-slide" id="s-<%= entries[i].slide_id  %>" value="<%= entries[i].slide_id  %>" <%- status  %>>
            <label class="custom-control-label" for="s-<%= entries[i].slide_id  %>"></label>
          </div>
        </td>
      </tr>
      <%  } %>
    </tbody>
  </table>
</div>

<%- include('manage_slide_modal')  %>
<%- include ('paginateQuery') %>
<script src="/js/paginate.js"></script>
<script src="/js/admin/slide/slide.js"></script>
<script src="/js/admin/slide/slideSubmit.js"></script>