<input id="query" type="hidden" value="<%= JSON.stringify(query) %>" />
<input id="paginate-page-all" type="hidden" value="<%= paginate.page_all %>" />
<input id="paginate-page" type="hidden" value="<%= paginate.page %>" />
<input id="paginate-row-all" type="hidden" value="<%= paginate.row_all %>" />
<input id="paginate-row" type="hidden" value="<%= paginate.row %>" />
<div id="paginate"></div>