<div class="row">
  <div class="col-md-8">
    <label class="my-1 p-1">Facebook</label>
    <div class="form-group">
      <input type="text" value="<%= fb_name  %>" class="form-control my-1" id="fb-name" placeholder="ป้อนชื่อ Facebook ของคุณ">
      <input type="text" value="<%= fb_link  %>" class="form-control my-1" id="fb-link" placeholder="ป้อนลิงค์ Facebook ของคุณ">
    </div>
  </div>
  <div class="col-md-8">
    <label class="my-1 p-1">Twitter</label>
    <div class="form-group">
      <input type="text" value="<%= twitter_name  %>" class="form-control my-1" id="twitter-name" placeholder="ป้อนชื่อ Twitter ของคุณ">
      <input type="text" value="<%= twitter_link %>" class="form-control my-1" id="twitter-link" placeholder="ป้อนลิงค์ Twitter ของคุณ">
    </div>
  </div>
  <div class="col-md-8">
    <label class="my-1 p-1">Instagram</label>
    <div class="form-group">
      <input type="text" value="<%= ig_name  %>" class="form-control my-1" id="ig-name" placeholder="ป้อนชื่อ Instagram ของคุณ">
      <input type="text" value="<%= ig_link  %>" class="form-control my-1" id="ig-link" placeholder="ป้อนลิงค์ Instagram ของคุณ">
    </div>
  </div>
  <div class="col-md-8">
    <label class="my-1 p-1">LINE</label>
    <div class="form-group">
      <input type="text" value="<%= line_id  %>" class="form-control my-1" id="line-id" placeholder="ป้อนชื่อ ID LINE ของคุณ">
      <input type="text" value="<%= line_link  %>" class="form-control my-1" id="line-link" placeholder="ป้อนลิงค์ line ของคุณ">
    </div>
  </div>
  <div class="col-md-8">
    <label class="my-1 p-1">Tiktok</label>
    <div class="form-group">
      <input type="text" value="<%= tiktok_name  %>" class="form-control my-1" id="tiktok-name" placeholder="ป้อนชื่อ Tiktok ของคุณ">
      <input type="text" value="<%= tiktok_link  %>" class="form-control my-1" id="tiktok-link" placeholder="ป้อนลิงค์ Tiktok ของคุณ">
    </div>
  </div>
  <div class="col-md-8">
    <label class="my-1 p-1">Youtube</label>
    <div class="form-group">
      <input type="text" value="<%= youtube_name  %>" class="form-control my-1" id="youtube-name" placeholder="ป้อนชื่อช่อง Youtube ของคุณ">
      <input type="text" value="<%= youtube_link  %>" class="form-control my-1" id="youtube-link" placeholder="ป้อนลิงค์ ช่อง Youtube ของคุณ">
    </div>
  </div>
</div>


<div class="p-2 my-2 text-center">
  <button class="btn bg-gradient-primary rounded-0" id="socialSubmit">
    <span class="font-weight-bold">บันทึก</span>
  </button>
</div>

<script src="/js/admin/social/socialSubmit.js"></script>