<div class="container my-2">
  <div class="d-flex justify-content-end" id="paginate"></div>
</div>
<input id="query" type="hidden" value="<%= JSON.stringify(query_params) %>">
<input id="paginate-page-all" type="hidden" value="<%= paginate.page_all %>">
<input id="paginate-page" type="hidden" value="<%= paginate.page %>">
<input id="paginate-row-all" type="hidden" value="<%= paginate.row_all %>">
<input id="paginate-row" type="hidden" value="<%= paginate.row %>">